#instituicao .card {
  align-self: center;
  align-content: center;
  align-items: center;
}
.card {
  
  &__title {
    font-size: 1.33333em;
    margin: 0;
    margin-top: 1.111em;

/*     @media only screen and (max-width: 768px) {
      text-align: center;
    } */
  }

  &__subtitle {
    color: $color-gray-300;
    font-style: italic;

    /* @media only screen and (max-width: 768px) {
      text-align: center;
    } */
  }

  &__image {
    margin-bottom: 1.11111em;

    .grid--col-two & {
      max-width: 585px;
    }

    .grid--col-three & {
      max-width: 380px;
    }
    .grid--col-five & {
      max-width: 200px;
      vertical-align: middle;
    }
  }

  &__body {
    line-height: 1.5;

    &:not(:first-child) {
      margin-top: 0.5em;
    }

    a {
      &:not(.button) {
        border-bottom: 1px solid rgba($color-accent, .3);
        color: $color-accent;
  
        &:hover,
        &:focus {
          opacity: .6;
        }
      }
    }

    /* @media only screen and (max-width: 768px) {
      text-align: center;
    } */
  }
}
